:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  background-color: #030712;
  overflow: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

.loading-page {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -60px 0px 0px -40px;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.animate__delay-05s {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.animate__delay-08s {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}



.stats_panel {
  left: 50px !important;
  bottom: 50px !important;
}

.stats_panel.active {
  left: 10px !important;
  bottom: 10px !important;
}

.react-flow__panel.react-flow__attribution.bottom.right {
  display: none;
}


.react-flow__panel.left,
.react-flow__panel.right {
  filter: invert(0.84);
}








.command-palette .dark\:bg-gray-900 {
  background-color: #222;
}

a.command-palette-list-item.block.w-full.text-left.px-3\.5.py-2\.5.rounded-md.hover\:bg-gray-100.dark\:hover\:bg-gray-800.focus\:ring-1.focus\:ring-gray-300.focus\:outline-none.flex.items-center.space-x-2\.5.justify-between.bg-gray-200\/50.dark\:bg-gray-800.cursor-pointer {
  background-color: #11111169;
}

.command-palette .dark\:hover\:bg-gray-800:hover {
  background-color: #11111169;
}

.fixed.inset-0.bg-gray-900.bg-opacity-80.opacity-100 {
  background-color: #0009;
  backdrop-filter: blur(0.4rem);
}




.log-container {
  width: 100%;
  padding: 15px;
}


.log-container > div {
  display: flex;
  flex-direction: column-reverse;
}



button {
  cursor: pointer;
}


.appModal {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
}


/* App.ts */


.newComponentButton {
  opacity: 0;
  text-align: center;
  line-height: 100vh;
  width: 100vw;
}
.newComponentButton.visible {
  opacity: 1;
}
.floatButton {
  position: absolute;
  top: 6px;
  right: 6px;
}

/* ToolbarBottom.tsx */

.toolbarContainer {
  padding: 5.5px;
  display: flex;
  flex-direction: row;
  /* background-color: #25262b; */
  /* border: solid 0.5px #2c2e33; */
}
.toolbarContainer.light {
  /* background-color: #f8f9fa; */
  /* border: solid 0.5px #f1f3f5; */
}
.toolbarContainer.vertical {
  flex-direction: column;
  height: 100%;
}
.toolbarDivider {
  flex:1;
}
.toolbarTextInfo {
  line-height: 25px;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}


/* Actions.tsx */

.actionsPopoverContainer {
  /* margin: -0.5rem; */
  /* margin-top: -7px; */
  /* margin-left: -10px; */
}
.actionsActionContainer {
  margin-left: 5px;
  margin-top: 0;
}
.actionsActionContainer.vertical {
  margin-left: 0;
  margin-top: 5px;
}
.actionsActionContainer.initial {
  margin-left: 0;
  margin-top: 0;
}
.actionsActionContainer.vertical.initial {
  margin-left: 0;
  margin-top: 0;
}


/* ToolbarRight.tsx */

.toolbarRightBox {
  /* background-color: #141517; */
  /* border: solid 1px #383a3f; */
  /* border-radius: 3; */
  overflow-y: auto;
  height: 530px;
  padding: 10px;
}
.toolbarRightBox.light {
  /* background-color: #fff; */
  /* border-color: gray; */
}
.toolbarRightGroup {
  margin-top: -6px;
  overflow-y: hidden;
  height: 100%;
}

.sectionMiddle>div>div {
  background-color: black !important;
}










.\[\&\:has\(svg\)\]\:pl-11:has(svg) {
  padding-left: 0.75rem !important;
}

.rotate{
  animation: rotate 1.5s linear infinite; 
}
@keyframes rotate{
  to{ transform: rotate(360deg); }
}